@addTag
@model MvcToner.Models.BelegModel


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bestellung</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse.Name" class="form-control" />
                <span asp-validation-for="Adresse.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>

<div class="rows">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label> Artikelname</label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse.Name" class="form-control" />
                <span asp-validation-for="Adresse.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Artikelname
            </th>
            <th>
                Menge
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (PositionModel item in currentBelegPos) {
        <tr>
            <td>
                <input asp-for="item.Name" class="form-control" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menge)
            </td>
            <td>
                @Html.ActionLink("Delete", "Edit", new{pos = item})
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Edit">
    @Html.TextBox("term")
    <input type="submit" value="search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Artikelname
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (ArtikelModel item in ViewBag.allArtikels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Add Position", "Edit", new{ art = item}/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
