@model IEnumerable<MvcToner.Models.BelegModel>

@{
    ViewBag.Title = "Alle Bestellungen";
}

<h1>ListBestellungen</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.PrimaryKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Bestellung", new {  id = item.PrimaryKey }) |
                @Html.ActionLink("Details", "Details","Bestellung", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete","Bestellung", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
