@model IEnumerable<MvcNormal.Models.Position>

@{
    int beleg_id = ViewBag.beleg_id;
    ViewBag.Title = "Positionen";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create Position", "List", "Artikel", new { beleg_id = beleg_id}, new { @class = "a" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Menge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artikel.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Menge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artikel.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
