@model IEnumerable<MvcNormal.Models.Beleg>

@{
    ViewData["Title"] = "Alle Belege";
}

<h1>Alle Bestellungen</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse.Name)
            </td>
            <td>
                
                @Html.ActionLink("Edit Positions", "List", "Position", new { beleg_id = item.Id }, new {@class="a"}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
